html {
    /* All possible pin colors */
    --red-color: #ff3d3d;
    --orange-color: #f2903a;
    --yellow-color: #ffe75f;
    --mintgreen-color: #b3fc60;
    --green-color: #17c72b;
    --aqua-color: #3bfcff;
    --cyan-color: #225ffa;
    --pink-color: #fe70f9;
    --purple-color: #821eb5;
    --brown-color: #673d2b;
    --white-color: #ffffff;
    --black-color: #000000;

    --default-bg: #ececec;
    --border-color: #3c3c3c;

    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    
    --default-spacing: 10px;
    --border-radius: 3px;
}

h1,h2,.h1,.h2 {
    font-family: 'Lobster', cursive;
    color: black;
}
h1:hover,h2:hover,.h1:hover,.h2:hover {
    color: black;
    text-decoration: none;
}
.box {
    padding: var(--default-spacing);
    border-radius: var(--border-radius);
    background: var(--default-bg);
}

/*
* Color helpers
*/
.bg-red { background: var(--red-color) !important; }
.bg-orange { background: var(--orange-color) !important; }
.bg-yellow { background: var(--yellow-color) !important; }
.bg-mintgreen { background: var(--mintgreen-color) !important; }
.bg-green { background: var(--green-color) !important; }
.bg-aqua { background: var(--aqua-color) !important; }
.bg-cyan { background: var(--cyan-color) !important; }
.bg-pink { background: var(--pink-color) !important; }
.bg-purple { background: var(--purple-color) !important; }
.bg-brown { background: var(--brown-color) !important; }
.bg-black { background: var(--black-color) !important; }
.bg-white { background: var(--white-color) !important; }


/*
* Game
*/
.game .input-pin {
    display: inline-block;
    background: var(--default-bg);
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.game .input-pin.input-pin-small {
    width: 20px;
    height: 20px;
}
.game .input-pin.hovered {
    background-color: blue;
    opacity: 0.5;
}

/* Turn */
.game .game-turns .turn {
    text-align: center;
    border-top: 1px solid white;
}
.game .game-turns .turn:first-child {
    border-top: none;
}
.game .game-turns .turn .turn-feedback-pins {
    border: 1px solid var(--border-color);
}
.game .game-turns .turn .turn-feedback-pins .input-pin {
    width: 25px;
    height: 25px;
}
.game .game-turns .turn .turn-feedback-pins,
.game .game-turns .turn .turn-answer-pins {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game .game-turns .turn .turn-answer-pins {
    background: var(--border-color);
    padding: var(--default-spacing);
}

/* Input */
.game .game-input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    padding: var(--default-spacing);
    border: 1px solid var(--border-color);
}
.game .game-input button[type='submit'] {
    margin-top: 20px;
}

/* Color options */
.game .color-options {
    margin-top: 50px;
}
.game .color-options .options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--default-spacing);
    border: 1px solid var(--border-color);
}

/* Ingame sidebar */
.game .ingame-sidebar {
    background: var(--default-bg);
    padding: 20px 10px;
}
.game .ingame-sidebar .ingame-sidebar-container {
    padding: var(--default-spacing);
}
.game .ingame-sidebar .ingame-sidebar-container h3 {
    font-size: 1.2rem;
}


/*
* Page specific
*/
.home .container p {
    max-width: 600px;
    margin: 0 auto;
}
.home .form-group {
    margin-bottom: 0;
}
.home .form-group label {
    padding-right: var(--default-spacing);
}