html {
    --red-color: #ff3d3d;
    --orange-color: #f2903a;
    --yellow-color: #ffe75f;
    --mintgreen-color: #b3fc60;
    --green-color: #17c72b;
    --aqua-color: #3bfcff;
    --cyan-color: #225ffa;
    --pink-color: #fe70f9;
    --purple-color: #821eb5;
    --brown-color: #673d2b;

    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}