{% extends 'layouts/base.html' %}

{% block header %}
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9"><a class="h1" href="/">Mastermind</a></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row game">
            <div class="col-9">
                <!-- Old turns -->
                <div class="game-turns">
                    <div class="row turn">
                        <div class="col-3 turn-feedback-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                        <div class="col-9 turn-answer-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                    </div>
                    <div class="row turn">
                        <div class="col-3 turn-feedback-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                        <div class="col-9 turn-answer-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                    </div>
                    <div class="row turn">
                        <div class="col-3 turn-feedback-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                        <div class="col-9 turn-answer-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                    </div>
                    <div class="row turn">
                        <div class="col-3 turn-feedback-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                        <div class="col-9 turn-answer-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                    </div>
                </div>

                <!-- Input -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9 game-input">
                        <form action="/game/answer" method="POST">
                            <div class="input-pins">
                                <div class="input-pin"></div>
                                <div class="input-pin"></div>
                                <div class="input-pin"></div>
                                <div class="input-pin"></div>
                                <div class="input-pin"></div>
                                <div class="input-pin"></div>
                            </div>

                            <button class="btn btn-primary" type="submit">Submit answer</button>
                        </form>
                    </div>
                </div>

                <!-- Color options -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9 color-options">
                        <h2 class="text-center">Color options</h2>

                        <div class="options">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="ingame-stats">
                    <div class="ingame-statistic">
                        <h3>Name</h3>
                        <span>Tjeu</span>
                    </div>
                    <div class="ingame-statistic">
                        <h3>Turns</h3>
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}