{% extends 'layouts/base.html' %}

{% block header %}
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9"><a class="h1" href="/">Mastermind</a></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row game">
            <div class="col-9">
                <!-- Old turns -->
                <div class="game-turns">

                    {% for turn in game.turns %}
                    <div class="row turn">
                        <div class="col-3 turn-feedback-pins">
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                            <div class="input-pin"></div>
                        </div>
                        <div class="col-9 turn-answer-pins">
                            {% for color in turn.code_guessed %}
                                <div class="input-pin bg-{{ color }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Input -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9 game-input">
                        <form action="/game/{{ game.id }}" method="POST">
                            <div class="input-pins">
                                {% for pos in range(game.amount_of_positions) %}
                                    <div class="input-pin">
                                        <input type="hidden" name="answer[]">
                                    </div>
                                {% endfor %}
                            </div>

                            <button class="btn btn-primary" type="submit">Submit answer</button>
                        </form>
                    </div>
                </div>

                <!-- Color options -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9 color-options">
                        <h2 class="text-center">Color options</h2>

                        <div class="options">
                            {% for color in game.color_options %}
                                <div class="input-pin bg-{{ color }}" data-color="{{ color }}" draggable="true"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="ingame-stats">
                    <div class="ingame-statistic">
                        <h3>Name</h3>
                        <span>{{ game.player.name }}</span>
                    </div>
                    <div class="ingame-statistic">
                        <h3>Turns</h3>
                        <span>{{ game.turns|length }}</span>
                    </div>

                    {% if cheatmode %}
                        <div class="ingame-statistic cheatmode">
                            <h3>Code</h3>

                            {% for color in game.code %}
                                <div class="input-pin bg-{{ color }}"></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}