{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mx-1">
            <div class="col-12 col-md-8 col-lg-6 box text-center py-3">
                <h2>Congratulations!</h2>
                <span>You have cracked the code in {{ game.turns|length}} turns!</span>

                <hr>
                <a href="/" class="btn btn-primary m-1">Start a new game</a>
                <a href="/leaderboard" class="btn btn-primary m-1">Global leaderboard</a>
            </div>
        </div>
    </div>
{% endblock %}